@model EmployeeViewModel
@inject IUnitOfWork unitOfWork
@{
    var department = new SelectList(await unitOfWork.DepartmentRepository.GetAll(), "Id", "Name");
}

<div class=" form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class=" form-group">
    <label asp-for="Image" class="col-form-label"></label>
    <input class="form-control" asp-for="Image" />
    <span asp-validation-for="Image" class="text-danger"></span>
</div>
<div class=" form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input class="form-control" asp-for="Age" />
    <span asp-validation-for="Age" class="text-danger"></span>

</div>
<div class=" form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>

</div>
<div class=" form-group">
    <label asp-for="Phone" class="col-form-label"></label>
    <input class="form-control" asp-for="Phone" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class=" form-group">
    <label asp-for="DepartmentId" class="col-form-label"></label>
    <select asp-for="DepartmentId" asp-items="department">
        <option>--- Select Department ---</option>
    </select>
    <span asp-validation-for="DepartmentId" class="text-danger"></span>
</div>
<div class=" form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <input class="form-control" asp-for="Address" />
    <span asp-validation-for="Address" class="text-danger"></span>

</div>
<div class=" form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <input class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>

</div>
<div class=" form-group">
    <label asp-for="IsActive" class="col-form-label"></label>
    <input class="form-control" asp-for="IsActive" />
    <span asp-validation-for="IsActive" class="text-danger"></span>

</div>
<div class=" form-group">
    <label asp-for="HireDate" class="col-form-label"></label>
    <input class="form-control" asp-for="HireDate" />
    <span asp-validation-for="HireDate" class="text-danger"></span>

</div>