@{
    ViewData["Tittle"] = "ResetPasswordDone";
    Layout = "_AuthLayout";
}
	<div class="main-agileinfo">
			<div class="agileits-top">
			<div class="body">
				<div>
					Your Password was reseted Successfully , please login again	
				</div>
				<div>
					<a asp-action="Login" asp-controller="Account"> Login </a>
				</div>
			</div>
			</div>
		</div>